<div class="login-form mx-auto" style="max-width: 500px">
  <div class="card text-center pt-4">
    <!-- <div class="card-header">Login</div> -->
    <img src="/assets/avatar.png" class="img" alt="" />
    <div class="card-body col-12 mx-auto">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3 text-start mx-auto">
          <label for="user" class="form-label">User or email</label>
          <input
            type="text"
            class="form-control"
            id="user"
            placeholder="user@mail.com"
            formControlName="username"
          />
        </div>
        <div class="mb-3 text-start">
          <label for="password" class="form-label">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="buttons">
          <button
            class="btn w-100 mb-3 text-white"
            style="background-color: #5e7eaf"
          >
            Login
          </button>
          <button
            class="btn w-100 text-white"
            style="background-color: rgb(211, 77, 77)"
          >
            Login with google
          </button>
        </div>
        <div class="formError text-danger text-start mt-3" *ngIf="error">
          {{ error }}
        </div>
      </form>
      <div class="card__redirect my-4 text-start text-body">
        <span
          >Don't have an account?
          <a routerLink="/auth/register">Sign up here.</a></span
        >
      </div>
    </div>
  </div>
</div>
