<div class="card" style="max-width: 500px">
  <div class="card-body">
    <h2 class="card-title mb-4">Create an account</h2>

    <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="sendForm()">
      <div class="col-md-6">
        <label class="form-label">Name</label>
        <input
          type="email"
          class="form-control"
          placeholder="John"
          formControlName="name"
        />
        <span class="form-text text-danger" *ngIf="labelIsValid('name')"
          >Name is not valid
        </span>
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Doe"
          formControlName="lastName"
        />
        <span class="form-text text-danger" *ngIf="labelIsValid('lastName')"
          >Lastname is not valid
        </span>
      </div>
      <div class="col-12">
        <label class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="jhon@mail.com"
          formControlName="email"
        />
        <span class="form-text text-danger" *ngIf="labelIsValid('email')"
          >Hmm.. it doesn't look like an email</span
        >
      </div>

      <div class="col-md-6 col-12">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <span class="form-text text-danger" *ngIf="labelIsValid('password')"
          >Password must be 8 characters long and contain a number</span
        >
      </div>

      <div class="col-md-6 col-12">
        <label class="form-label">Confirm password</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <span
          class="form-text text-danger"
          *ngIf="labelIsValid('confirmPassword')"
          >Passwords must match</span
        >
      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn w-100 text-white"
          style="background-color: #5e7eaf; font-size: 18px"
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </div>

      <div class="col-12">
        <button
          class="btn w-100 text-white"
          style="background-color: rgb(211, 77, 77); font-size: 18px"
        >
          Register with google
        </button>
      </div>
    </form>
    <div class="card-text my-3">
      <span>
        Already have an account? <a routerLink="/auth/login">Login here</a>
      </span>
    </div>
  </div>
</div>
